body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
.logo{
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase; 
}
.logo-studio{
    color: var(--IRIS, #2e2f42);
}
.adress{
    font-size: normal;
}
.page-nav{
    color: var(#2E2F42);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px; 
}
.section-one{
    color: var(--WHITE, #FFF);
text-align: center;
/* Header 1 */
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px; 
width: 1440px;
background: var(--NAVY-BLUE, #2E2F42); 
}

.button{
    style; cursor: pointer;
    color: #ffffff ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px; 
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}
.button:hover, .button:focus{
    background-color: #404bbf;
}
.img{
    border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08); 
}
.img-down{
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF); 
}
.header-ac{
    color: var(--NAVY-BLUE, #2E2F42);
/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px; 
}
.header-ac:hover, .header-ac:focus{
    color: #404bbf; 
}
.header-contact{
    color: var(--SLATE, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px; 
}
.header-contact:hover, .header-contact:focus{
   color:#404bbf;
}
.adress{
    font-style: normal;
}
.descrip-title{
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em; 
}
.text-our-team{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize; 
}
.footer-text{
    color: #F4F4FD;
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px; 
}
.section-two{
    background: var(--CLOUD, #F4F4FD); 
}
h3{
    display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px; 
}
.text-h{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px; 
}
.text-pp{
    color: var(--SLATE, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px; 
}
.fotter-fon{
    background-color: #2e2f42;
}
.logo-f{
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase; 
}
.logo-studiof{
    color: var(--CLOUD, #F4F4FD);
font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase; 
}
.text-page-h{
    font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em; 
}
.title-descrip{
    color: var(--SLATE, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em; 
}
.text-p-our-team{
    color: var(--SLATE, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em; 
}